.cute li{
    color: white;
    border: 2px;
    border-radius: 10px;
    border-style: outset;
    background-color: rgb(119, 123, 128);
}

ul li a{
    text-decoration: none;
    color: white;
}

.fakeimg{
    border: 3px solid rgb(rgb(80, 147, 202), rgb(129, 180, 129), rgb(143, 143, 182));
}